.boton-red{
    background-color: #df2121 !important;
    color: #fff !important;
    border-radius: 3px;
}

.boton-red:hover{
    background-color: #242424 !important;
    color: #fff !important;
}


.boton-gray{
    background-color: #8f8f8f !important;
    color: #fff !important;
    border-radius: 3px;
}
