<app-top-bar></app-top-bar>
<div class="breadcrumb-area gray-bg-7">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li class="text-red">Contacto </li>
            </ul>
        </div>
    </div>
</div>
<div class="contact-us pt-60 pb-50"
    style="background-image: url('../../../../assets/img/fondo2.jpg'); width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="contact-page-title mb-40">
                    <h1>
                        Hola,
                        <br>
                        Así puedes contactarnos
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <ul class="contact-tab-list nav">
                    <li><a href="#contact-address" data-toggle="tab">Contactos</a></li>
                    <li><a href="#contact-form-tab" data-toggle="tab">Escríbenos</a></li>
                    <li><a class="active" href="#store-location" data-toggle="tab">Ubicación</a></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <div class="tab-content tab-content-contact">
                    <div id="contact-address" class="tab-pane fade row d-flex">
                        <div class="col-lg-4 col-md-4">
                            <div class="contact-information">
                                <h4>Dirección</h4>
                                <p>{{ dtsEmpresa.direccionSucursal }}</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="contact-information mrg-top-sm">
                                <h4>Teléfonos</h4>
                                <p>
                                    <a href="tel:+0992943174">Teléfono Grúas Guayaquil: <br> (593) 992943174</a><br>    
                                    <a href="tel:+0998397303">Teléfono Llantas y Grúas: <br> (593) 998397303</a><br>
                                    <a href="tel:+0979009952">Teléfono Repuestos: <br> (593) 979009952</a> 
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="contact-information mrg-top-sm">
                                <h4>Email</h4>
                                <p>                     
                                    <a href="mailto:ventas@remolkar.com">Email Ventas: ventas@remolkar.com</a><br>
                                    <a href="mailto:gruas1@remolkar.com">Email Grúas: gruas1@remolkar.com</a><br>
                                     <a href="mailto:repuestos@remolkar.com">Email Repuestos: repuestos@remolkar.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="contact-form-tab" class="tab-pane fade row d-flex">
                        <div class="col">
                            
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="contact-form-style mb-20">
                                            <input type="text" [(ngModel)]="formEmail.nombre" name="formEmail.nombre" placeholder="Nombre">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="contact-form-style mb-20">
                                            <input type="email" [(ngModel)]="formEmail.correo" name="formEmail.correo" placeholder="Correo Electrónico">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-form-style mb-20">
                                            <input type="text" [(ngModel)]="formEmail.asunto" name="formEmail.asunto" placeholder="Asunto">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="contact-form-style">
                                            <textarea [(ngModel)]="formEmail.mensaje" name="formEmail.mensaje" placeholder="Mensaje"></textarea>
                                            <button class="submit" (click)="enviarMail()" 
                                                style="background-color: #df2121; color: #fff;">Enviar Mensaje</button>
                                        </div>
                                    </div>
                                </div>

                            <p class="form-messege"></p>
                        </div>
                    </div>
                    <div id="store-location" class="tab-pane fade row d-flex active show">
                        <div class="col-12">
                            <div class="contact-map">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.1204076444496!2d-79.92988488524487!3d-2.1071695984639716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMsKwMDYnMjUuOCJTIDc5wrA1NSczOS43Ilc!5e0!3m2!1ses!2sec!4v1605803278412!5m2!1ses!2sec"
                                    frameborder="0" style="border:0; width: 100%; height: 450px;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>